In [ ]:
pip install category_encoders

In [9]:

import pandas as pd
from category_encoders import BinaryEncoder

In [13]:
data = {
    "Salary": [50000, 60000, 55000, 80000, 75000],
    "Loan_Status": ["yay", "nay", "yay", "nay", "yay"],
}

df = pd.DataFrame(data)
encoder = BinaryEncoder(cols = ["Loan_Status"])

df_encoded = encoder.fit_transform(df)

df_encoded

   Salary  Loan_Status_0  Loan_Status_1
0   50000              0              1
1   60000              1              0
2   55000              0              1
3   80000              1              0
4   75000              0              1