In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
data = {
    "Salary": [50000, 60000, 55000, 80000, 75000, 80000],
    "Age": [25, 30, 28, 35, 32, 40],
    "Loan_Amount": [20000, 25000, 22000, 30000, 28000, 35000],
}

df = pd.DataFrame(data)
df

   Salary  Age  Loan_Amount
0   50000   25        20000
1   60000   30        25000
2   55000   28        22000
3   80000   35        30000
4   75000   32        28000
5   80000   40        35000

In [ ]:
features = df[df.columns[:-1]]
target = df[df.columns[-1]]

In [11]:
features

   Salary  Age
0   50000   25
1   60000   30
2   55000   28
3   80000   35
4   75000   32
5   80000   40

In [12]:
target

0    20000
1    25000
2    22000
3    30000
4    28000
5    35000
Name: Loan_Amount, dtype: int64

In [13]:
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size = 0.25, random_state = 42)

In [14]:
print(f"Features Train:\n{features_train}\n")
print(f"Features Test:\n{features_test}\n")
print(f"Target Train:\n{target_train}\n")
print(f"Target Test:\n{target_test}\n")

Features Train:
   Salary  Age
5   80000   40
2   55000   28
4   75000   32
3   80000   35

Features Test:
   Salary  Age
0   50000   25
1   60000   30

Target Train:
5    35000
2    22000
4    28000
3    30000
Name: Loan_Amount, dtype: int64

Target Test:
0    20000
1    25000
Name: Loan_Amount, dtype: int64